<ul class="navbar-nav">
    <li class="nav-item">
        <a class="nav-link" routerLink="/about">About</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/contact">Contact</a>
    </li>
    <li class="nav-item">
        <ng-container *ngFor="let currentClaim of currentUser.userClaims">
            <a class="nav-link" routerLink="/adminPanel" *ngIf="currentClaim.claimValue == 'true' && currentClaim.claimType == 'IsAdminUser'" >Admin Panel</a>
        </ng-container>
    </li>
    <li class="nav-item" *ngIf="currentUser.isAuthenticated">
        <a class="nav-link" (click)="logout()">Logout ({{ getUserName() }})</a>
    </li>
    <li class="nav-item" *ngIf="!currentUser.isAuthenticated">
        <a class="nav-link" routerLink="/login">Login</a>
    </li>
</ul>