<div class="container mat-elevation-z8">
  <app-notification></app-notification>
  <mat-tab-group dynamicHeight>
    <mat-tab label="App Settings">
      <app-app-config></app-app-config>
    </mat-tab>
    <mat-tab label="Landing Page">
      <app-landing-config></app-landing-config>
    </mat-tab>
    <mat-tab label="About Page">
      <app-about-config></app-about-config>
    </mat-tab>
    <mat-tab label="Contact Page">
      <app-contact-config></app-contact-config>
    </mat-tab>
  </mat-tab-group>
</div>