<mat-nav-list>
  <ng-container *ngIf="userActiveityService.activityMessages">
    <ng-container *ngFor="let currentMessage of userActiveityService.activityMessages; index as i">
      <div class="container">
        <div [class]="currentMessage.getClass()" role="alert">
          <button type="button" (click)="closeNotification(i)" class="closeNotification">×</button>
          <i class="material-icons">{{currentMessage.getIcon()}}</i>
          {{currentMessage.getValue()}}
        </div>
      </div>
    </ng-container>
  </ng-container>
  <ng-container *ngIf="userActiveityService.activityMessages.length == 0">
    No Messages
  </ng-container>
</mat-nav-list>