
  .bottom-sheet-container {
    // margin-left: 465px !important;
      width: 100%;
   }
   
body{
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
    background: #6d4040;
    padding: 200px 60px;
  }
  
  h1{
    text-align: center;
  }


