<div class="container rounded">
  <form class="form-signin">
    <div class="row">
      <div class="col-sm-12">
        <div class="text-left">
          <h3>Create A Product Group</h3>
        </div>
      </div>
    </div>
    {{statusMessage}}
    <div class="row">
      <div class="col-sm-12">
        <div class="text-left">
          Code: <input [(ngModel)]='newProdGroup.productGroupCode' type="text" placeholder="Product Group Code"
            class="form-control mb-2" name="productGroupCode">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="text-left">
          Name: <input [(ngModel)]='newProdGroup.productGroupName' type="text" placeholder="Product Group Name"
          class="form-control mb-2" name="productGroupName">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="text-left">
          Description: <input [(ngModel)]='newProdGroup.productGroupDescription' type="text" placeholder="Product Group Description"
          class="form-control mb-2" name="productGroupDescription">
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col-sm-6"><button class="btn btn-outline-dark btn-block mb-3" (click)="createProductGroup()">Create</button></div>
        <div class="col-sm-6"><a class="btn btn-outline-dark btn-block mb-3" routerLink="/ProductGroups">Back</a></div>
    </div>
  </form>
</div>