<div class="container rounded">
  <h3>Create New Product Group</h3>
  <div [class]="statusMessageClass" *ngIf="statusMessage">
    {{statusMessage}}
  </div>
  <form [formGroup]="newProdForm">
    <div class="form-group">
      <label for="productGroupCode">Code:</label>
      <input formControlName="code" name="productGroupCode" id="productGroupCode" type="text" placeholder="Product Group Code"
        class="form-control mb-3">
      <div class="validationMessages">
        <div class="alert alert-danger" *ngIf="newProdForm.controls.code.touched && newProdForm.controls.code.errors && newProdForm.controls.code.errors.failedPopulation">
          Code is mandatory.
        </div>
        <div class="alert alert-danger" *ngIf="newProdForm.controls.code.touched && newProdForm.controls.code.errors && newProdForm.controls.code.errors.failedMinLength">
          Code should be 2 or more characters.
        </div>
        <div class="alert alert-danger" *ngIf="newProdForm.controls.code.touched && newProdForm.controls.code.errors && newProdForm.controls.code.errors.failedMaxLength">
          Code can't be more than 7 characters.
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="productGroupName">Name:</label>
      <input formControlName='name' name="productGroupName" id="productGroupName" type="text" placeholder="Product Group Name"
        class="form-control mb-3">
      <div class="validationMessages">
        <div class="alert alert-danger" *ngIf="newProdForm.controls.name.touched && newProdForm.controls.name.errors && newProdForm.controls.name.errors.failedPopulation">
          Name is mandatory.
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="productGroupName">Desc:</label>
      <input formControlName="desc" id="productGroupDescription" name="productGroupDescription" type="text" placeholder="Product Group Description"
        class="form-control mb-3">
      <div class="validationMessages">
        <div class="alert alert-danger" *ngIf="newProdForm.controls.desc.touched && newProdForm.controls.desc.errors && newProdForm.controls.desc.errors.failedPopulation">
          Description is mandatory.
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-sm-6"><button type="submit" class="btn btn-outline-dark btn-block mb-3" (click)="createProductGroup()">Create</button></div>
        <div class="col-sm-6"><a class="btn btn-outline-dark btn-block mb-3" routerLink="/ProductGroups">Back</a></div>
      </div>
    </div>
  </form>
</div>