<div class="container rounded">
  <h3>Product Group Details:</h3>
  <div [class]="statusMessageClass" *ngIf="statusMessage">
    {{statusMessage}}
  </div>
  <a routerLink="/ProductGroupCreate" class="btn btn-outline-dark btn-block mb-3">Create New Product Group</a>
  <button (click)="resetFilters()" class="btn btn-outline-dark btn-block mb-3">Reset Filters</button>
  <form class="form">
    <table class="table table-striped table-dark" id="DisplayAllTable" *ngIf="prodGroupPreviews">
      <thead>
        <tr>
          <th>ID</th>
          <th>Code</th>
          <th>Name</th>
          <th>View</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Filter: </td>
          <td><input [(ngModel)]='codeFilterInput' name="codeFilterInput" type="text" placeholder="Code" class="form-control"></td>
          <td><input [(ngModel)]='nameFilterInput' name="nameFilterInput" type="text" placeholder="Name" class="form-control"></td>
          <td><button (click)="refreshAndApplyFilter()" class="btn btn-outline-light btn-block">Apply</button></td>
        </tr>
        <tr *ngFor="let prodGrp of prodGroupPreviews">
          <td>{{prodGrp.productGroupID}}</td>
          <td>{{prodGrp.productGroupCode}}</td>
          <td>{{prodGrp.productGroupName}}</td>
          <td>
            <button (click)="viewButtonClicked(prodGrp.productGroupID)" class="btn btn-outline-light btn-block">View</button>
          </td>
        </tr>
        <tr>
          <td>Filter: </td>
          <td><input [(ngModel)]='codeFilterInput' name="codeFilterInput" type="text" placeholder="Code" class="form-control"></td>
          <td><input [(ngModel)]='nameFilterInput' name="nameFilterInput" type="text" placeholder="Name" class="form-control"></td>
          <td><button (click)="refreshAndApplyFilter()" class="btn btn-outline-light btn-block">Apply</button></td>
        </tr>
      </tbody>
    </table>
  </form>
  <button (click)="resetFilters()" class="btn btn-outline-dark btn-block mb-3">Reset Filters</button>
</div>