<mat-dialog-content>
    <div class="container">
        <h3 mat-dialog-title>{{getPageTitle()}}</h3>
        <app-notification></app-notification>
        <form [formGroup]="prodForm">
            <div flex fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="3px" fxLayoutAlign="center">
                <div fxFlex="100">
                    <mat-form-field class="maxWidth" appearance="outline">
                        <mat-label>Product Group Code</mat-label>
                        <input matInput formControlName="code" type="text" placeholder="Product Group Code">
                    </mat-form-field>
                    <div class="validationMessages">
                        <div *ngIf="prodForm.controls.code.touched && prodForm.controls.code.errors && prodForm.controls.code.errors.failedPopulation">
                            Code is mandatory.
                        </div>
                        <div *ngIf="prodForm.controls.code.touched && prodForm.controls.code.errors && prodForm.controls.code.errors.failedMinLength">
                            Code should be 2 or more characters.
                        </div>
                        <div *ngIf="prodForm.controls.code.touched && prodForm.controls.code.errors && prodForm.controls.code.errors.failedMaxLength">
                            Code can't be more than 7 characters.
                        </div>
                    </div>
                </div>
            </div>
            <mat-form-field class="maxWidth" appearance="outline">
                <mat-label>Product Group Name</mat-label>
                <input matInput placeholder="Product Group Name" formControlName="name" type="text">
            </mat-form-field>
            <div class="validationMessages">
                <div *ngIf="prodForm.controls.name.touched && prodForm.controls.name.errors && prodForm.controls.name.errors.failedPopulation">
                    Name is mandatory.
                </div>
            </div>
            <mat-form-field class="maxWidth" appearance="outline">
                <mat-label>Product Group Description</mat-label>
                <input matInput formControlName="desc" type="text" placeholder="Product Group Description">
            </mat-form-field>
            <div class="validationMessages">
                <div *ngIf="prodForm.controls.desc.touched && prodForm.controls.desc.errors && prodForm.controls.desc.errors.failedPopulation">
                    Description is mandatory.
                </div>
            </div>
            <div flex fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px" fxLayoutAlign="center">
                <div fxFlex="50">
                    <button mat-raised-button color="accent" class="maxWidth" (click)="submit()">Submit</button>
                </div>
                <div fxFlex="50">
                    <button mat-raised-button color="primary" class="maxWidth" (click)="cancel()">Close</button>
                </div>
            </div>
        </form>
    </div>
</mat-dialog-content>