<ng-container *ngIf="service.curContactConfig">
  <form>
    <mat-form-field class="maxWidth">
      <mat-label>Page Title</mat-label>
      <input matInput [(ngModel)]="service.curContactConfig.pageTitle" type="text" value="{{service.curContactConfig.pageTitle}}"
        [ngModelOptions]="{standalone: true}">
    </mat-form-field>
    <mat-form-field class="maxWidth">
      <mat-label>Application Short Name</mat-label>
      <input matInput [(ngModel)]="service.curContactConfig.pageDescription" type="text" value="{{service.curContactConfig.pageDescription}}"
        [ngModelOptions]="{standalone: true}">
    </mat-form-field>
    <mat-form-field class="maxWidth">
      <mat-label>Application Slogan</mat-label>
      <input matInput [(ngModel)]="service.curContactConfig.pageRoute" type="text" value="{{service.curContactConfig.pageRoute}}"
        [ngModelOptions]="{standalone: true}">
    </mat-form-field>
    <mat-form-field class="maxWidth">
      <mat-label>Application Footer Text</mat-label>
      <input matInput [(ngModel)]="service.curContactConfig.isHTML" type="text" value="{{service.curContactConfig.isHTML}}"
        [ngModelOptions]="{standalone: true}">
    </mat-form-field>
    <button mat-flat-button color="accent" id="updateLanding" (click)="updateConfig()" class="maxWidth">
      Update Config
    </button>
  </form>
</ng-container>