<div class="container rounded">
  <form class="form-signin">
    <h3>Product Group Search:</h3>
    {{statusMessage}}
    <div class="row">
      <div class="col-sm-6">
        ID: <input [(ngModel)]='searchID' type="text" class="form-control mb-3" name="searchID">
      </div>
      <div class="col-sm-6">
        Code: <input [(ngModel)]='searchCode' type="text" class="form-control mb-3" name="searchCode">
      </div>
    </div>
    <button class="btn btn-outline-dark btn-block mb-3" (click)="processSearch()">Search</button>
  </form>
</div>