    <form class="form-signin">
        <div class="row">
            <div class="col-sm-12">
                <div class="text-left">
                    <h3>Product Group Search:</h3>            
                </div>        
            </div>
        </div>
        {{statusMessage}}
        <div class="row">
            <div class="col-sm-6">
                <div class="text-left">                      
                    ID: <input [(ngModel)]='searchID' type="text" class="form-control mb-2" name="searchID">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="text-left">                      
                    Code: <input [(ngModel)]='searchCode' type="text" class="form-control mb-2" name="searchCode">
                </div>
            </div>
        </div>
         <div class="row">
            <div class="col-sm-6"><button class="btn btn-outline-dark btn-block mb-3" (click)="processSearch()">Search</button></div>
            <div class="col-sm-6"><button class="btn btn-outline-dark btn-block mb-3">View All</button></div>
        </div>        
    </form>

