<div class="container rounded">
    <form class="form-signin" [formGroup]="loginForm">
        <h3>Login</h3>
        <div [class]="statusMessageClass" *ngIf="statusMessage">
            {{statusMessage}}
        </div>
        <div class="row">
            <div class="col-sm-6 mb-3">
                <label for="usernameInput">Username</label>
                <input formControlName="username" id="usernameInput" name="usernameInput" type="text" placeholder="Username"
                    class="form-control mb-3">
                <div class="validationMessages">
                    <div class="alert alert-danger" *ngIf="loginForm.controls.username.touched && loginForm.controls.username.errors && loginForm.controls.username.errors.failedPopulation">
                        Username is mandatory
                    </div>
                    <div class="alert alert-danger" *ngIf="loginForm.controls.username.touched && loginForm.controls.username.errors && loginForm.controls.username.errors.failedMinLength">
                        Username must be 3 or more characters
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <label for="passwordInput">Password</label>
                <input formControlName="password" id="passwordInput" name="passwordInput" type="password" placeholder="Password"
                    class="form-control mb-3">
                <div class="validationMessages">
                    <div class="alert alert-danger" *ngIf="loginForm.controls.password.touched && loginForm.controls.password.errors && loginForm.controls.password.errors.failedPopulation">
                        Password is mandatory
                    </div>
                    <div class="alert alert-danger" *ngIf="loginForm.controls.password.touched && loginForm.controls.password.errors && loginForm.controls.password.errors.failedMinLength">
                        Password must be 5 or more characters
                    </div>
                </div>
            </div>
        </div>
        <button class="btn btn-outline-dark btn-block mb-3" (click)="attemptLogin()">Login</button>
        <a href="/UserAccount/Register" class="btn btn-outline-dark btn-block mb-3">New User</a>
        <a href="#" class="btn btn-outline-dark btn-block mb-4">Forgot Password</a>
    </form>
</div>