<nav class="navbar navbar-expand-lg navbar-light bg-light navbarPerm">
  <a class="navbar-brand" href="/">Shopping</a>
  <button class="navbar-toggler pull-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdownPerm" aria-controls="navbarNavDropdownPerm" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon "></span>
  </button>
  <div id="navbarNavDropdownPerm" class="navbar-collapse collapse">
      <app-nav></app-nav>>
  </div>
</nav>
<!--FLOATING GHOST BANNER-->        
<div class="fixed-top">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbarGhost">
      <a class="navbar-brand" href="/">Mirpur PVC</a>
      <button class="navbar-toggler pull-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdownGhost" aria-controls="navbarNavDropdownGhost" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div id="navbarNavDropdownGhost" class="navbar-collapse collapse">
          <app-nav></app-nav>
      </div> 
  </nav>
</div>
<!--END FLOATING GHOST BANNER-->
<div class="jumbotron-fluid rounded-bottom bg-dark vertical-center mb-3 pb-3 pt-3">               
  <div class="text-center jumbo-text-main pb-3 pt-3">                                            
      <h1 class="display-4">Mirpur<span style="Color: #ffffff">PVC</span></h1>                                                             
      <a href="/about" ><button class="btn btn-outline-light mt-5 mr-3 mb-1 ml-1">About Us</button></a>
      <a href="#"><button class="btn btn-outline-light mt-5 mr-1 mb-1 ml-3">Test Button</button></a>
  </div>
</div>