<div class="container rounded">
    <form class="form-signin">
        <h3>Update Product Group</h3>
        {{statusMessage}}
        ID: <input [(ngModel)]='currentProdGroup.productGroupID' type="text" placeholder="Product Group ID" class="form-control mb-3"
            name="productGroupID" readonly>
        Code: <input [(ngModel)]='currentProdGroup.productGroupCode' type="text" placeholder="Product Group Code" class="form-control mb-3"
            name="productGroupCode">
        Name: <input [(ngModel)]='currentProdGroup.productGroupName' type="text" placeholder="Product Group Name" class="form-control mb-3"
            name="productGroupName">
        Description: <input [(ngModel)]='currentProdGroup.productGroupDescription' type="text" placeholder="Product Group Description"
            class="form-control mb-3" name="productGroupDescription">
        <div class="row">
            <div class="col-sm-6"><button (click)="saveChanges()" class="btn btn-outline-dark btn-block mb-3">Save</button></div>
            <div class="col-sm-6"><a routerLink="/ProductGroups" class="btn btn-outline-dark btn-block mb-3">Back</a></div>
        </div>
    </form>
</div>