<div class="container rounded">
    <form class="form-signin">
        <div class="row">
            <div class="col-sm-12">
                <div class="text-left">
                    <h3>Product Group Details:</h3>            
                </div>        
            </div>
        </div>
        {{statusMessage}}
        <div class="row">
            <div class="col-sm-12">
                <div class="text-left">                    
                    ProductGroup ID: 
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="text-left">
                    ProductGroup Code: 
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="text-left">
                    ProductGroup Name: 
                </div>
            </div>  
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="text-left">
                    ProductGroup Description: 
                </div>
            </div>
        </div>
         <div class="row">
        </div>        
    </form>
</div>

