<div class="container rounded">
    <form class="form-signin">
        <h3>Product Group Details:</h3>
        {{statusMessage}}
        ID: <input [(ngModel)]='currentProdGroup.productGroupID' type="text" class="form-control mb-3" name="ProductGroupID"
            readonly>
        Code: <input [(ngModel)]='currentProdGroup.productGroupCode' type="text" placeholder="Product Group Code" class="form-control mb-3"
            name="productGroupCode" readonly>
        Name: <input [(ngModel)]='currentProdGroup.productGroupName' type="text" placeholder="Product Group Name" class="form-control mb-3"
            name="productGroupName" readonly>
                    Description: <input [(ngModel)]='currentProdGroup.productGroupDescription' type="text" placeholder="Product Group Description"
                        class="form-control mb-3" name="productGroupDescription" readonly>
        <div class="row">
            <div class="col-sm-6"><button (click)="requestUpdatePage()" class="btn btn-outline-dark btn-block mb-3">Update</button></div>
            <div class="col-sm-6"><button (click)="requestDelete()" class="btn btn-outline-dark btn-block mb-3">Delete</button></div>
        </div>
        <a routerLink="/ProductGroups" class="btn btn-outline-dark btn-block mb-3">Back</a>
    </form>
</div>